<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick-1.6.0/slick/slick.css"/>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick-1.6.0/slick/slick-theme.css"/>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.baseurl }}/">Home</a></li>
		        	<li><a href="{{ site.baseurl }}/about">About</a></li>
	        		<li><a href="{{ site.baseurl }}/resume/Justin-Mi-Resume.pdf">Resume</a></li>
	        		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
				<div class="slider single-item">
				  <div> <h1>1</h1></div>
				  <div> <h1>2</h1></div>
				  <div> <h1>3</h1></div>
				</div>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/justin-mi/">My LinkedIn</a></li>
	        		<li><a href="https://github.com/JustinMi">My Github</a></li>
				</ul>
			</footer>

			<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
			<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/slick-1.6.0/slick/slick.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.single-item').slick();
				});
			 </script>
		</body>
	</html>
