<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick-master/slick/slick.css"/>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/slick-master/slick/slick-theme.css"/>
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.baseurl }}/">Home</a></li>
		        	<li><a href="{{ site.baseurl }}/about">About</a></li>
	        		<li><a href="{{ site.baseurl }}/resume/Justin-Mi-Resume.pdf">Resume</a></li>
	        		<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/justin-mi/">My LinkedIn</a></li>
	        		<li><a href="https://github.com/JustinMi">My Github</a></li>
				</ul>
			</footer>

			<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="{{ site.baseurl }}/slick-master/slick/slick.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.carousel').slick({
					  slidesToShow: 3,
					  slidesToScroll: 1,
					  autoplay: true,
					  autoplaySpeed: 2000,
					});
					confirm('hello')
				});
			 </script>
		</body>
	</html>
